Source: pgsql-nats
Section: database
Priority: optional
Maintainer: Luxms Package Manager <repo@luxms.com>
Build-Depends: debhelper (>= 12), curl, unzip, cargo-pgrx, postgrespro-std-15-dev, postgrespro-ent-15-dev, postgrespro-std-17-dev, postgrespro-ent-17-dev, jatoba5-dev, jatoba5-client, tantor-certified-server-15, clang
Standards-Version: 10.0.0
Homepage: https://github.com/luxms/pgnats/

Package: jatoba5-nats
Architecture: amd64
Depends: ${shlibs:Depends}, jatoba5-server
Description: NATS connect for PostgreSQL.

Package: pgpro15-nats
Architecture: amd64
Depends: ${shlibs:Depends}, postgrespro-std-15-server
Description: NATS connect for PostgreSQL.

Package: pgpro15ent-nats
Architecture: amd64
Depends: ${shlibs:Depends}, postgrespro-ent-15-server
Provides: pgpro15-nats (= ${binary:Version})
Description: NATS connect for PostgreSQL.

Package: tantor15certified-nats
Architecture: amd64
Depends: ${shlibs:Depends}, tantor-certified-server-15
PROVIDES: tantor15-nats (= ${binary:Version})
Description: NATS connect for PostgreSQL.

Package: pgpro17-nats
Architecture: amd64
Depends: ${shlibs:Depends}, postgrespro-std-17-server
Description: NATS connect for PostgreSQL.

Package: pgpro17ent-nats
Architecture: amd64
Depends: ${shlibs:Depends}, postgrespro-ent-17-server
Provides: pgpro17-nats (= ${binary:Version})
Description: NATS connect for PostgreSQL.