#!/usr/bin/make -f
export DH_VERBOSE = 1
export PATH := /usr/local/bin:$(PATH)

GPG_OPTIONS := --batch --pinentry-mode loopback --passphrase-file $(CURDIR)/GPG_PASS --default-key=08C82543B30BE336

PGCONFIG_pgsql15-nats := /usr/lib/postgresql/15/bin/pg_config
PGVER_pgsql15-nats := 15
PGCONFIG_pgpro15-nats := /opt/pgpro/std-15/bin/pg_config
PGVER_pgpro15-nats := 15
PGCONFIG_pgpro15ent-nats := /opt/pgpro/ent-15/bin/pg_config
PGVER_pgpro15ent-nats := 15
PGCONFIG_tantor15certified-nats := /opt/tantor/db/15/bin/pg_config
PGVER_tantor15certified-nats := 15
PGCONFIG_pgpro17-nats := /opt/pgpro/std-17/bin/pg_config
PGVER_pgpro17-nats := 17
PGCONFIG_pgpro17ent-nats := /opt/pgpro/ent-17/bin/pg_config
PGVER_pgpro17ent-nats := 17

PKG_LIST := $(foreach pkg,$(shell dh_listpackages), $(shell if [ -f $(PGCONFIG_$(pkg)) ] ; then echo $(pkg); fi))

define \n


endef

override_dh_strip:
	dh_strip
	$(if $(filter true,$(CI)),\
		find debian/ -type f -name pgnats.so > elf_files.list;\
	  if [ -f elf_files.list ]; then bsign -N -s -E --pgoptions="$(GPG_OPTIONS)" -f elf_files.list ; bsign -c -E -f elf_files.list; fi \
	,)

override_dh_auto_install:
	$(foreach pkg,$(PKG_LIST), \
		cargo pgrx init --pg$(PGVER_$(pkg)) $(PGCONFIG_$(pkg)) \
		&& cargo pgrx package --features xid8 --pg-config $(PGCONFIG_$(pkg)) \
		&& mv target/release/pgnats-pg$(PGVER_$(pkg)) debian/$(pkg) \
		${\n} \
	)


%:
	dh $@ --srcdirectory=src $(foreach pkg,$(PKG_LIST), -p$(pkg) )
