default:
  image: ${HARBOR_HOST}/build/rocky9:base
  tags:
    - luxmsbi-build

variables:
  BI_REPO: "thirdparty"
  FF_ENABLE_JOB_CLEANUP: "true"

stages:
  - defVersion
  - test
  - sbom
  - build
  - demo
  - deploy
  - publish

include:
  - component: $CI_SERVER_FQDN/devops/cicd/defVersion@main
  - component: $CI_SERVER_FQDN/devops/cicd/sast@main
  - component: $CI_SERVER_FQDN/devops/cicd/sbom@main
    inputs:
      atack_surface: "indirect"
      security_function: "yes"
  - component: $CI_SERVER_FQDN/devops/cicd/uploadToDevrepo@main
    inputs:
      repo: "luxms-thirdparty"
      repo_path: "devrepo.spb.luxms.com"
    rules:
      - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG =~ /^v\d+.\d+.\d+/'

.check-rpm:
  script:
    - echo "======= Check RPM ========"
      && rpm -qlpv --scripts --requires *.rpm
      && rpm -qipv *.rpm
      && DISTTAG=$(rpm -qp *.rpm --qf %{disttag})
      && echo "DISTTAG   ${DISTTAG}"

linter:
  stage: test
  script:
    - dnf -y install cargo clippy
    - cargo clippy -- -D warnings

buildRpm:
  stage: build
  image: ${HARBOR_HOST}/build/${OS_VER}:rpmBuild
  before_script:
    - rpm --import https://devrepo.spb.luxms.com/RPM-GPG-KEY-Luxms
    - |
      case "${OS_VER}" in
        "redos7") dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro${PG_VERSION}-redos7_3/
                  dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro${PG_VERSION}-redos7/
                  dnf config-manager --add-repo https://devrepo.spb.luxms.com/luxms-thirdparty/redos/7/x86_64/
                  rpm --import https://repo.postgrespro.ru/keys/GPG-KEY-POSTGRESPRO;;
        "redos8") dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro${PG_VERSION}-redos8/
                  dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro${PG_VERSION}-redos8/
                  dnf config-manager --add-repo https://devrepo.spb.luxms.com/luxms-thirdparty/redos/8/x86_64/
                  rpm --import https://repo.postgrespro.ru/keys/GPG-KEY-POSTGRESPRO;;
        "rocky9") if [[ "${PG_VERSION}" -eq "17" ]]; then
                    dnf install -y https://download.postgresql.org/pub/repos/yum/reporpms/EL-9-x86_64/pgdg-redhat-repo-latest.noarch.rpm;
                    dnf -qy module disable postgresql;
                    dnf -qy --enablerepo=crb install perl-IPC-Run
                  else
                    dnf -y module enable postgresql:${PG_VERSION};
                  fi;
                  dnf config-manager --add-repo https://devrepo.spb.luxms.com/luxms-thirdparty/el/9/x86_64/;;
      esac
  script:
    - tar -zcf ../pgsql-nats-v${VERSION}.tar.gz ./*
    - dnf builddep -y ./pkgBuild/RPM/${CI_PROJECT_NAME}.spec -D "version ${VERSION}" -D "pg_ver ${PG_VERSION}"
    - rpmbuild -bb ./pkgBuild/RPM/${CI_PROJECT_NAME}.spec
      --define "_topdir $(pwd)"
      --define "_sourcedir $(pwd)/../"
      --define "pg_ver ${PG_VERSION}"
      --define "version ${VERSION}"
    - mv ./RPMS/x86_64/*.rpm ${CI_PROJECT_DIR}/
    - echo "${GPG_KEY}" | gpg --import --batch
    - rpm --resign *.rpm
    - !reference [.check-rpm, script]
  artifacts:
    name: pg-nats
    paths:
      - "*.rpm"
  parallel:
    matrix:
      - OS_VER:
          - "rocky9"
          - "redos7"
          - "redos8"
        PG_VERSION:
          - "15"
          - "17"

buildALSE:
  stage: build
  image: ${HARBOR_HOST}/build/alse${ALSE_VER}:debBuild1225
  variables:
    DEB_BUILD_OPTIONS: "noautodbgsym"
  before_script:
    - ln -s pkgBuild/ALSE${ALSE_VER} debian
    - if [[ ${ALSE_VER} == "1.7" ]];
      then
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro15-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro15-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro17-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro17-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ arch=amd64 trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/jatoba/astra-1_7-jatoba-5/ default all" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ arch=amd64 trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/tantor/tantor-certified-15_alse1_7/ default all" >> /etc/apt/sources.list.d/pgdg.list;
      else
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro15-alse1_8 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro15-alse1_8 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro17-alse1_8 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro17-alse1_8 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ arch=amd64 trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/tantor/tantor-certified-15_alse1_8/ default all" >> /etc/apt/sources.list.d/pgdg.list;
      fi
    - echo "deb https://devrepo.spb.luxms.com/luxms-thirdparty/alse ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/luxmsbi.list
    - apt update
    - echo yes | mk-build-deps -ri -t "apt -o=Debug::pkgProblemResolver=yes --no-install-recommends --no-install-suggests"
    - curl -sL https://devrepo.spb.luxms.com/rust/rust-1.92.0-x86_64-unknown-linux-gnu.tar.gz | tar -zx
    - ./rust-1.92.0-x86_64-unknown-linux-gnu/install.sh
    - echo "${GPG_ALSE}" | gpg --batch --import
    - echo "${GPG_ALSE_PASS}">GPG_PASS
  script:
    - dch -m -v "${VERSION}~alse${ALSE_VER}" "All latest updates"
    - debuild -eVERSION -eCI -us -uc -b
    - mv ../*-nats_*.deb ./
    - echo "========================= Check DEB ========================="
      && for pkg in *.deb; do dpkg -I $pkg; dpkg -c $pkg; done
  artifacts:
    name: pgsql-nats
    paths:
      - "*.deb"
  parallel:
    matrix:
      - ALSE_VER:
          - '1.7'
          - '1.8'

buildAlt10:
  stage: build
  image: ${HARBOR_HOST}/build/alt10:rpmBuild
  before_script:
    - ulimit -n 2000
    - echo "rpm https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro15-alt10/ x86_64 pgpro" >> /etc/apt/sources.list.d/pgdg.list
    - echo "rpm https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro15-alt10/ x86_64 pgpro" >> /etc/apt/sources.list.d/pgdg.list
    - echo "rpm https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro17-alt10/ x86_64 pgpro" >> /etc/apt/sources.list.d/pgdg.list
    - echo "rpm https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro17-alt10/ x86_64 pgpro" >> /etc/apt/sources.list.d/pgdg.list
    - echo "rpm http://ftp.basealt.ru/pub/distributions/ALTLinux/ c10f1/branch/x86_64 classic" >> /etc/apt/sources.list.d/altsp.list
    - echo "rpm https://devrepo.spb.luxms.com/luxms-thirdparty/alt/c10f2 x86_64 thirdparty" > /etc/apt/sources.list.d/luxmsbi.list
    - mv ./pkgBuild/ALT/alt.apt-preference /etc/apt/preferences.d/libpq5
    - apt-get update
    - apt-get install -y $(rpmspec -q --buildrequires ./pkgBuild/ALT/${CI_PROJECT_NAME}.spec -D "version ${VERSION}")
    - curl -sL https://devrepo.spb.luxms.com/rust/rust-1.92.0-x86_64-unknown-linux-gnu.tar.gz | tar -zx
    - ./rust-1.92.0-x86_64-unknown-linux-gnu/install.sh
  script:
    - tar -zcf ../pgsql-nats-v${VERSION}.tar.gz ./*
    - rpmbuild -bb ./pkgBuild/ALT/${CI_PROJECT_NAME}.spec
      --define "_topdir $(pwd)"
      --define "_sourcedir $(pwd)/../"
      --define "pg_ver ${PG_VER}"
      --define "version ${VERSION}"
    - mv ./RPMS/x86_64/*.rpm ${CI_PROJECT_DIR}/
    - echo "${GPG_KEY}" | gpg --import --batch
    - rpm --resign *.rpm
    - !reference [.check-rpm, script]
  artifacts:
    name: pg-nats
    paths:
      - "*.rpm"

buildRpmMosOS:
  stage: build
  image: ${HARBOR_HOST}/build/mosos:rpmBuild
  before_script:
    - zypper ar -G https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/mosos15/pgsql${PG_VER}/ pgsql
    - zypper ar -G https://devrepo.spb.luxms.com/luxms-thirdparty/mosos/15.5/x86_64/ luxmsbi
    - curl -sL https://devrepo.spb.luxms.com/rust/rust-1.92.0-x86_64-unknown-linux-gnu.tar.gz | tar -zx
    - ./rust-1.92.0-x86_64-unknown-linux-gnu/install.sh
  script:
    - tar -zcf ../pgsql-nats-v${VERSION}.tar.gz ./*
    - zypper install -y $(rpmspec -q --buildrequires ./pkgBuild/RPM/${CI_PROJECT_NAME}.spec -D "version ${VERSION}" -D "pg_ver ${PG_VER}")
    - rpmbuild -bb ./pkgBuild/RPM/${CI_PROJECT_NAME}.spec
      --define "_topdir $(pwd)"
      --define "_sourcedir $(pwd)/../"
      --define "pg_ver ${PG_VER}"
      --define "version ${VERSION}"
    - mv ./RPMS/x86_64/*.rpm ${CI_PROJECT_DIR}/
    - echo "${GPG_KEY}" | gpg --import --batch
    - rpm --resign *.rpm
    - !reference [.check-rpm, script]
  artifacts:
    name: pg-nats
    paths:
      - "*.rpm"
  parallel:
    matrix:
      - PG_VER:
          - "15"
          - "17"

deployToStand:
  stage: demo
  variables:
    HOST1: pgnats-cluster-pg01.spb.luxms.com
    HOST2: pgnats-cluster-pg02.spb.luxms.com
    PKG_DEPLOY: pgsql15-nats-${VERSION}-1.el9.x86_64.rpm
  before_script:
    - eval $(ssh-agent -s)
    - echo "${SSH_RUNNER_KEY}" | tr -d '\r' | ssh-add -
    - ssh-keyscan -t ecdsa ${HOST1}  >> ~/.ssh/known_hosts
    - ssh-keyscan -t ecdsa ${HOST2}  >> ~/.ssh/known_hosts
  script:
    - scp ${PKG_DEPLOY} root@${HOST1}:/root/
    - scp ${PKG_DEPLOY} root@${HOST2}:/root/
    - if [[ ! "$CI_COMMIT_TAG" ]]; then 
        ssh root@${HOST1} "dnf -y reinstall /root/${PKG_DEPLOY} && rm -f /root/${PKG_DEPLOY} && patronictl -c /etc/patroni/patroni.yml restart pgnats-cluster ${HOST1} --force";
        ssh root@${HOST2} "dnf -y reinstall /root/${PKG_DEPLOY} && rm -f /root/${PKG_DEPLOY} && patronictl -c /etc/patroni/patroni.yml restart pgnats-cluster ${HOST2} --force";
      else
        LEADER=`ssh root@${HOST1} "patronictl -c /etc/patroni/patroni.yml list | grep Leader" | awk '{print $2}'`;
        REPLICA=`ssh root@${HOST1} "patronictl -c /etc/patroni/patroni.yml list | grep Replica" | awk '{print $2}'`;
        ssh root@${REPLICA} "dnf -y install /root/${PKG_DEPLOY} && rm -f /root/${PKG_DEPLOY}";
        ssh root@${LEADER} "dnf -y install /root/${PKG_DEPLOY} && rm -f /root/${PKG_DEPLOY} && sudo -iu postgres psql mi -c 'ALTER EXTENSION pgnats UPDATE'";
      fi
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+.\d+.\d+/'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
